<div class='container'>
  <div class="card">
    <div class="card-content">
      <spam class="card-title"><%= t('.edit')%></spam>
      <%= render 'form', post_graduation: @post_graduation %>
    </div>
    <div class='card-action'>
      <%= link_to t('commands.show'), @post_graduation %>
      <%= link_to t('commands.back'), post_graduations_path %>
    </div>
  </div>
</div>
